*{
    margin:0;
    padding:0;
}
.social_box{
    display: flex;
    justify-content: space-between;
    background-image:linear-gradient( to left, rgb(0, 0, 82) );
    
    
}


.number_box{
     padding: 20px;
     color: white;
     margin-left: 5%;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.social{
    display: flex;
    margin-right:15%;
}

.social a{
    color:rgb(185, 168, 168);
    padding: 20px;
    
   
    
}



.logo_nav{
    display:flex;
    justify-content: space-between;
    margin:2em;
}

.nav ul{
     display:flex;
     padding:0;
     margin-left:-50%;
     list-style: none;
   
}

.nav ul li a{
  text-decoration: none;
  padding:0.9em;
  display: block;
  color:rgb(2, 2, 78);
  font-size: 1.1rem;
  margin-top: 7%;
  
}


.nav li a:hover{
  color:rgb(217, 8, 8);
  transition: 0.6s;
}


.log{
  align-self:flex-start;
  width:30%;
  margin-left: 2.8em;
}
/* 
.banner_image{
  align-self:flex-start;
  width:100%;
  aspect-ratio:16px;
  object-fit:cover;
  margin-top:-2%;
} */


.banner {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../vitaly-gariev-1uf2JCPfAKU-unsplash.jpg");
  height: 600px;
  background-size: cover;
  background-position: center;
  object-fit:cover;
  align-self:flex-start;
  aspect-ratio:16px;
  margin-top:-2%;
  color: white;
  animation: changeImage 10s infinite;
  transition: background-image 6s ease-in-out;

  
}
@keyframes changeImage {
  0%{
  }

  50% {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../aleksandra-sapozhnikova-r_-zzXrnzxI-unsplash.jpg");
  }
  100% {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../vitaly-gariev-1uf2JCPFAkU-unsplash.jpg");
  }
}


h1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.8rem;

}

.banner p{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  max-width:60%;
}

.txt{
  padding:150px;
}

.about-btn {
  background-color: transparent; /* Makes it transparent */
  border: 2px solid #ffffff;     /* White border (you can change color) */
  color: #ffffff;                /* Text color */
  padding: 15px 15px;            /* Size of button */
  border-radius: 30px;            /* Rounded corners */
  cursor: pointer;               /* Pointer on hover */
  transition: 0.3s ease;         /* Smooth hover effect */
  margin-top: 2%;
  
  

}


.about-btn:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Slightly visible on hover */
}



.about p{
  font-size:1rem ;
  margin:0.6% ;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.about h2{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.9rem;
}

.about{
     background-color: rgb(236, 242, 248);
     text-align: center;
     padding: 5%;
 


    
}


.our_sevices{
  margin-left: 24%;
  margin-top: 5%;
}
.box_one{
  line-height: 1.5;
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  gap:30px;
  font-family: 1rem;
  margin-top: 5%;

}

.box_two{

  display: flex;
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  gap:30px;
  margin-top: 5%;

}

.box_one p{
  line-height: 1.5;
  margin-top: 5%;


}

.box_two p{
  line-height: 1.5;
  margin-top: 5%;
  

}


.audit{
  background-color: white;
  border-radius:10px;
  /* box-shadow: 0 2px 8px rgba(0,0,0,0.1); */
  padding:30px;
  text-align: left;
  width:300px;
  transition: all 0.3s ease;
  
}



.audit{
  background-color: white;
  border-radius:10px;
  box-shadow: 0 2px 8px rgb(3, 3, 71); 
  /* box-shadow: 0 2px 8px rgba(0,0,0,0.1); */
  padding:30px;
  text-align: left;
  width:300px;
  transition: all 0.3s ease;

  
}



.tax{
  background-color: white;
  border-radius:10px;
  /* box-shadow: 0 2px 8px rgba(0,0,0,0.1); */
   box-shadow: 0 2px 8px rgb(3, 3, 71); 
  
  padding:30px;
  text-align: left;
  width:300px;
  transition: all 0.3s ease;
  
}


.management{
  background-color: white;
  border-radius:10px;
  box-shadow: 0 2px 8px rgb(3, 3, 71); 
  /* box-shadow: 0 2px 8px rgba(0,0,0,0.1); */
  padding:30px;
  text-align: left;
  width:300px;
  transition: all 0.3s ease;
  
}


.asset{
  background-color: white;
  border-radius:10px;
  box-shadow: 0 2px 8px rgb(3, 3, 71); 
  /* box-shadow: 0 2px 8px rgba(0,0,0,0.1); */
  padding:30px;
  text-align: left;
  width:300px;
  transition: all 0.3s ease;
  
}

.name{
  font-size: 2rem;
}

.para{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 margin-top: 1%;
}





.diff{
  background-color: black;
  margin-top: 4%;
  padding:15%;
  color:white;
  line-height: 1.5;

}

.diff_sec{
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display:flex;
  gap:3rem;
}

.diff_sec h3{
   color: rgb(114, 1, 114);
   font-size: 1.5rem;
}
.dif_sec h3{
   color: rgb(114, 1, 114);
   font-size: 1.5rem;
}
.diff_sec h2{
  font-size: 2.5rem;
}

.diff a{
  color:white;
  text-decoration: none;

}

.diff a:hover{
 color: rgb(143, 6, 143);
  transition: 0.9s;
}

.dif_sec{
  gap:3rem;
  display:flex;
  margin-left: 30%;
  margin-top: 6%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.projects{
    display:flex;
    background-color: gainsboro;
    justify-content: center;
    gap:20%;
    padding:15%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
}


.footer{
  background-color: black;
  display: flex;
  color: white;
  padding:5%;
}


.social_box_footer{
    margin-left: 10%;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  

  
    
    
}



.social{
    display: flex;
  
}

.social a{
    color:rgb(185, 168, 168);
    padding: 20px;
    
   
    
}
.logo p{
  max-width:30%;
  margin-left:9%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.show{
  align-self:flex-start;
  width:70%;
  aspect-ratio:16px;
  object-fit:cover;
 
} 

.show_tax{
  align-self:flex-start;
  width:50%;
  aspect-ratio:16px;
  object-fit:cover;
 
} 


.show_manage{
  align-self:flex-start;
  width:50%;
  aspect-ratio:16px;
  object-fit:cover;
 
} 

.show_asset{
  align-self:flex-start;
  width:50%;
  aspect-ratio:16px;
  object-fit:cover;
 
}

/* ABOUT SECTION */

.about-section{

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

.about-section p{
 line-height: 1.5rem;
 font-size: 1rem;
}

.about-content{
  display: flex;
}



.about-section {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../oleg-zarevennyi-nYiQIXRwdc4-unsplash.jpg");
  height: 600px;
  background-size: cover;
  background-position: center;
  object-fit:cover;
  align-self:flex-start;
  aspect-ratio:16px;
  margin-top:-2%;
  color: white;
  border-bottom-right-radius: 500px;
}


.about-content h1{
   margin:5%;
   margin-top: 8%;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
  
}
  

span{
  color: rgb(0, 0, 100);
  text-shadow: 0 0 10px rgb(255, 246, 246);
}

.text-section{
  color:white;
  background: linear-gradient(to right, rgb(0, 0, 119), black);
  padding: 5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  font-size: 1.1rem;
  border-bottom-right-radius: 100px;
  margin-top: 5%;
   
    
}

.img_section{
  margin:4%;
  display: flex;
  gap:15%;
  max-width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  


}

.man{
  align-self:flex-start;
  width:25%;
  aspect-ratio:16px;
  object-fit:cover;
  
}
